body{
    font-family: 'Inter', Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    }

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size:1.5rem;}
h4{font-size: 1.25rem;}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-items: space-between;
    height: 70px;
}

.site-header{
    display: flex;
    position:sticky;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: #2c3e50;
    z-index: 1000;
    }

.logo{
    font-size: 1.5rem;
    font-weight:bold;
    color: #f39c12;
    text-decoration: none;
}


.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
   }

   nav ul li a:hover {
    color: #f39c12;
   }

.hero {
    height: 60vh;
    background: url('images/herobg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; 
}

.hero h1{
    font-size: 3.5rem;
    margin-bottom: 10px;
   }

.hero p{
    padding: 10px 20px;
    font-size: 1.5rem;
    }

footer {
    text-align: center;
    padding: 20px;
    background: #2c3e50;
    color: white;
    margin-top: 50px;
}